<div class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
                <h2 class="title has-text-centered">Sign up</h2>
        <div class="card session-form">
            <div class="card-content">
              <%= render "partials/alert"%>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= render "devise/shared/error_messages", resource: resource %>
                  <div class="field">
                    <%= f.label :name,class:"label" %>
                    <p class="control">                      
                      <%= f.text_field :name, autofocus: true, autocomplete: "name",class:"input" %>
                    </p>
                  </div>
                  <div class="field">
                    <%= f.label :email,class:"label" %>
                    <p class="control">                      
                      <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"input" %>
                    </p>
                  </div>
                  <div class="field">
                    <%= f.label :password,class:"label" %>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %>
                    <%= f.password_field :password, autocomplete: "new-password",class:"input" %>
                  </div>

                  <div class="field">
                    <%= f.label :password_confirmation,class:"label" %>
                    <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"input" %>
                  </div>

                

                 

                  <div class="field">
                    <%= f.submit "Sign up",class:"button is-primary is-fullwidth" %>
                  </div>
                <% end %>
            </div>
        </div>
        <br/>
        <div class="has-text-centered">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
</div>







