
<nav class="navbar is-white is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to 'Stay in touch', root_path,class:"navbar-item" %>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
          
        
      
      
      </div>

      <div class="navbar-end">
        <%= menu_link_to '', posts_path,"home" %>
          <%= menu_link_to '', users_path,"users" %>
           <% if !current_user %>
        <div class="navbar-item">
           
            
            <%= link_to 'Sign in', user_session_path,class:"button is-primary" %>
        </div>
            <% end %>
        <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link is-small">
          <%= current_user.name %>
        </a>

        <div class="navbar-dropdown">
          <%= link_to "Profile", user_path(current_user), class: 'navbar-item' %>
         
          
  
          <hr class="navbar-divider">
          <% if current_user %>
          <div class="navbar-item">
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete,class:"button is-danger is-rounded is-small" %>
          </div>
          <% end %>
        </div>
      </div>
      </div>
    </div>
  </div>
</nav>

