
<nav class="navbar is-white is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to 'Stay in touch', root_path,class:"navbar-item" %>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
          
          <%= menu_link_to '', posts_path,"home" %>
          <%= menu_link_to '', users_path,"users" %>
      
      
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
           
           <% if current_user %>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete,class:"button is-danger is-rounded is-small" %>
            <% else %>
            <%= link_to 'Sign in', user_session_path,class:"button is-primary" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>

