<% if !add_friend_button(current_user.id, @user.id) %>
  <%= form_with model: friendship do |form| %>
    <%= form.hidden_field :invitee_id, value: @user.id %>
    <%= form.hidden_field :inviter_id, value: current_user.id %>
    <%= form.hidden_field :status %>
    <%= form.submit 'Invite to friendship', class: 'add-friend-btn' %>
  <% end %>
<% elsif current_user.comfirmed_friendships.exists?(invitee_id: @user) %>
  <p class="friend-status">You are friends with this user</p>
<% elsif current_user.inverse_friendships.exists?(inviter_id: @user) %>
  <p class="friend-status">Friend Request</p>
<% elsif @user != current_user %>
  <p class="friend-status">Pending invitation</p>
<% end %>
