 <div class = 'section'>
    <div class ='friends'>
      <h2>Incoming Friend Request</h2>
      <div>
        <% @friendships.each do |friendship| %>
          <p>
            <span>
              <%= friendship.friend.name  %>
            </span>
            <!-- <% if friendship.status %>
              <span>
                <button><%= link_to 'Confirm Request', friendship_path(friend_id: friend), method: :put  %></button>
              </span>
            <% end %> -->
          </p>
        <% end %>
      </div>
    </div>
    <div class ='friends'>
      <h2> My Friends List</h2>
      <div>
        <h2> confirmed Received Request </h2>
        <ul>
          <% @friendships.confirmed.each do |friendship| %>
            <% if friendship.status %>
              <li><%= friendship.friend.name %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div>
        <h2> Confirmed Sent Requests </h2>
        <ul>
          <% @inverse_friendships.confirmed.each do |inverse_friendship| %>
            <li><%= inverse_friendship.user.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class ='friends'>
      <h2>Sent Friend Request</h2>
      <ul>
        <% @inverse_friendships.each do |inverse_friendship| %>
          <li><%= inverse_friendship.user.name %></li>
        <% end %>
      </ul>
    </div> 
  </div>
