 <div class = 'section'>
    <div class ='friends'>
      <h2>Incoming Friend Request</h2>
      <div>
        <% @friends.each do |friend| %>
          <p>
            <span>
              <%= friend.name  %>
            </span>
            <!-- <% if friend %>
              <span>
                <button><%= link_to 'Confirm Request', friendship_path(friendship_id: friendship), method: :put  %></button>
              </span>
            <% end %> -->
          </p>
        <% end %>
      </div>
    </div>
    <div class ='friends'>
      <h2> My friend List</h2>
      <div>
        <h2> confirmed Received Request </h2>
        <ul>
          <% @friends.confirmed.each do |inverse_friend| %>
            <li><%= friend.name  %></li>
          <% end %>
        </ul>
      </div>
      <div>
        <h2> Confirmed Sent Requests </h2>
        <ul>
          <% @inverse_friends.each do |friendship| %>
            <li><%= inverse_friend.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class ='friends'>
      <h2>Sent Friend Request</h2>
      <ul>
        <% @inverse_friends.each do |inverse_friend| %>
          <li><%= inverse_friend.name %></li>
        <% end %>
      </ul>
    </div> 
  </div>
