<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
  </span>
  <span class="profile-link">
    <% if already_friends?(user.id) && user.id != current_user.id %>
      <% if new_request?(user.id) %>
          <%= link_to "Send request to #{user.name}", controller: "friendships", action: "new", user_id: current_user.id, friend_id: user.id, confirmed: false %>
      <% else %>
          <span>You already have sent an invitation to <%= user.name %></span>
      <% end %>
    <% elsif user.id != current_user.id %>
      <span><%= user.name %> and you are friends</span>
    <% end %>
  </span>
</li>