<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
      <%if current_user == user%>
    <span class = "bg-yellow">Current user</span>
   <%elsif current_user.pending?(user)%>
   <span class="bg-orange">Pending...</span>
   <%elsif current_user.requested?(user)%>
    <%= link_to "Accept", confirm_friendship_path(id: user.id), method: :put, class: "btn-green"%>
    <%= link_to "Decline", friendship_path(id: user.id), method: :delete, data: {confirm: "Are you sure you want to decline friend request?"}, class: "btn-red"%>
   <%elsif current_user.friend?(user)%>
    <%= link_to 'Remove Friend',  friendship_path(id: user.id), method: :delete, data: {confirm: "Are you sure you want to remove friend?"}, class: "btn-red"%>
   <%elsif !current_user.friend?(user)%>
    <%= link_to 'Add Friend',  friendships_path(user_id: user.id), method: :post, action: :confirm, class: 'btn-green' %>
    <% end %>
  </span>
</li>