<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
    <% unless user == current_user %>
      <% if current_user.friend? user %>
        <%= link_to 'Remove Friend' %>
      <% elsif current_user.pending_friends.include? user %>
        <%= link_to 'Friend Request Sent' %>
      <% elsif current_user.friend_requests.include? user %>
      <span>Action Needed</span>
        <%= link_to 'Accept Friend' %> |
        <%= link_to 'Decline Friend', decline_request_path, 
                                      method: :delete, 
                                      data: { confirm: 'Continue and decline friend?' } %>
      <% else %>
        <%= form_with(url: '/send_request', local: true) do |f| %>
          <%= f.hidden_field :invitee_id, value: user.id %>
          <%= f.submit 'Invite Friend' %>
        <% end %>
      <% end %>
    <% end %>
    <% if user == current_user %>
      <span><strong>(Current User)</strong></span>
    <% end %>

  </span>
</li>