<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
  </span> 

  <% if !current_user.friend?(user) && !current_user.invite_sent?(user) %> | <button>
    <%= link_to 'Invite to friendship',  friendships_path(id: user.id), method: 'post' %>
  </button> <% end %>

  <% if !current_user.friend?(user) && current_user.invite_sent?(user) %> | <span class="profile-link">
    <%= link_to 'Pending invite', class: 'profile-link' %>
  </span> <% end %>

  <% if current_user.friend?(user) %> | <span class="profile-link">
    <%= link_to 'Friends', class: 'profile-link' %>
  </span> <% end %>
</li>