<li>
  <% unless user == current_user %>
  <h4 class="d-flex flex-column border-solid">
      <%= user.name %>
    <span class="profile-link mt-2"> 
      <%= link_to 'See Profile',  user_path(user), class: 'btn-primary btn' %> 
    </span> 
    <span class="profile-link">
    <%= friend_requests(user) %>
    </span>
    <div>
    <%= confirm_friends(user) %>
    <%= pending_friends(user)%>
    </div>
    <%= cancel_friend(user)%>
    <% end %>
  </h4>
</li>