<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
  </span>
  <span>
<%= form_with(model: @friendship) do |form| %>
  <div class="field">
    <%= form.hidden_field :friend_id, value: user.id %>
    <%= form.hidden_field :status, value: false %>
  </div>

  <div class="actions">
    <%= form.submit "Invite to friendship" %>
  </div>
<% end %>
</span>
</li>