<li>
<% if !me?(user) %>
  <% @user = user %>
  <%= gravatar_for @user %>
  Name: <%= @user.name %> | id: <%= @user.id %>

  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(@user), class: 'profile-link' %>  
    <% if is_friend?(@user) %>
    <%# <% debugger %>
      <% if @user != current_user && request_sent?(@user)%>
        <%= link_to 'Request sent', '#', class: 'profile-link profile-link-btn' %>
      <% elsif @user != current_user && (request_sent?(@user) == false) %>
        <%= link_to 'Add Friend', friendships_path(:friendship => {:friend_id => @user.id}),
                                                                      method: :post,
                                                                       class: 'profile-link profile-link-btn' %>
      <% end%>
    <% end %>
  </span>
  <% end %>
</li>

