<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
    <% unless user == current_user %>
      <% if current_user.friend? user %>
        <%= link_to 'Remove Friend' %>
      <% elsif current_user.pending_friends.include? user %>
        <%= link_to 'Friend Request Sent' %>
      <% elsif current_user.friend_requests.include? user %>
      <span>Action Needed</span>
        <%= link_to 'Accept Friend' %> |
        <%= link_to 'Decline Friend' %>
      <% else %>
        <%= form_with(url: '/send_request', local: true) do |f| %>
          <%= f.hidden_field :invitee_id, value: user.id %>
          <%= f.submit 'Send Request' %>
        <% end %>
      <% end %>
    <% end %>
  </span>
</li>