<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
    <br>
    <% unless user == current_user %>
     <% if current_user.friend?(user) %>
     <%= render "friendships/addfriend", user: user, action_text: 'unfriend', method: 'delete'%>
    <% elsif current_user.pending_friends.include?(user) %>
   <% if current_user.requester?(user)%>
      <%= render "friendships/addfriend", user: user, action_text: 'delete', method: 'post'%>
      <% else%>
      <%= render "friendships/accept_friend", user: user, method: 'post'%>
      <% end %>
    <% else %>
    <%= render "friendships/addfriend", user: user, action_text: 'Add friend',method: 'post'%>
     <% end %>
     <% end %>
  </span>
</li>