<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
    
    <% if add_friend(user) %>
      <%=  form_for current_user.friendships.build(friend: user) do |f|%>
      <%= f.hidden_field :user_id%>
      <%= f.hidden_field :friend_id%>
     <%= f.submit " Add friend"%>
        <% end %> 
      <% end %>
        
      <%=  cancel_friend(user) %>

        <% if  accept_or_decline(user)%>
          <% current_user.friend_requests.each do |request| %>
          <% if request.id == user.id %>
          <p>pending friend requests</p>
          <button class="Accept"><%= link_to "Accept Friend Request",  friendship_path(id: request.id), method: "put" %></button>
          <button class="cancel"><%= link_to "Decline Friend Request", friendship_path(id: request.id), method: :delete %></button>
          <% end %>
          <% end %>
        
      <% end %>
  
    
  </span>
</li>
