  <% if user.id == current_user.id %>
    Name: <%= user.name %>
    <span class="profile-link">
      <%= link_to 'See My Profile',  user_path(user), class: 'profile-link' %>
    </span>
    <span>&nbsp</span>
    <span>&nbsp</span>
    <span class="profile-link">
    <% else %>
    Name: <%= user.name %>
    <span class="profile-link">
      <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
    </span>
    <span>&nbsp</span>
    <span>&nbsp</span>
    <span class="profile-link">
    <% if request_sent(user) %>
      <span class= 'profile-link'>
        You already sent a request
      </span>
    <% elsif check_friendship_status(user.id, current_user.id) == 'accept'%>
    <span class= 'profile-link'>
        You are friends
    </span>
    <% elsif check_friendship_status(user.id, current_user.id) == 'Unconfirmed'%>
      <%= link_to 'Accept friend request',  update_request_path(user: current_user.id, friend: user, status: 'accept'),
      class: 'profile-link' %>
      <span>&nbsp</span>
      <span>&nbsp</span>
      <%= link_to 'Reject friend request',  update_request_path(user: current_user.id, friend: user, status: 'reject'), 
      class: 'profile-link' %>
    <% else %>
      <%= link_to 'Invite friend',  friendships_path(user: @current_user, friend: user), :method => :post, 
      class: 'profile-link' %>
    <% end %>
  <% end %>
  </span> 
</li>