<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
  </span>
  <% if current_user != user and !current_user.check_friendship?(user) and !user.check_friendship?(current_user)%>
    <%= form_with url: friendships_path, method: :post do |f| %>
      <%= f.hidden_field :friend_id, value: user.id %>
      <%= f.submit 'Add Friend' %>
    <% end %>
  <% end %>
</li>