<li>
<% if !me?(user) %>
  <% @user = user %>
  <%= gravatar_for @user %>
  Name: <%= @user.name %>  | id: <%= @user.id %>
  
  <span class="profile-link">
  <%= link_to 'See Profile',  user_path(@user), class: 'profile-link' %>  
      <% if !is_friend?(@user)%>
        <%= link_to 'Add Friend',friendships_path(:friendship => {:friend_id => @user.id}),
                                                                    method: :post,
                                                                     class: 'profile-link profile-link-btn' %>
      <% end %>
  </span>
  <% end %>
</li>
