<section class="users-section">
  <ul class="users-list">
    <table>
      <tr><td>Name</td><td>Friendship status</td><td>More..</td></tr>
    <% @users.each do |user| %>
      <% if current_user.id != user.id  %>
        <li>
          <tr><td>
            <%= user.name %>
          </td><td>
            <% unless not_friends(user.id)    %>
            <%= link_to 'Add friend', add_friend_path(:id => user.id) %>
             <% end %>
            <% friendship = invert_pending_friendship(user.id) %>
            <% if friendship %>

              <span class="accept">|<%= link_to ' Accept ', accepts_friend_path(:id => user.id) %> |</span>
              <span class="reject">|<%= link_to ' Reject ', reject_friend_path(:id => friendship.id) %> |</span>
            <% end %>

            <% if  friends(user.id)%>
              <span>Friends</span>
          <% elsif  pending_friendship(user.id)%>
              <span>Pending Friendship</span>

            <% end %>

          </td><td>
            <span class="profile-link">
              <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
            </span>
          </td></tr>         
        </li>
      <% end %>
    <% end %>
  </table>
  </ul>
</section>
