<div class="columns is-centered">
  <% @users.each do |user|%>
    <% unless current_user.is_friend?(user) %>
      <div class="column is-7">
        <%= user.name %>
      </div>
      <div class="column is-4">
        <%= form_for current_user.friendships.build(friend_id: user.id) do |f| %> 
          <%= f.text_field :user_id, value: current_user.id, type: :hidden %>
          <%= f.text_field :friend_id, value: user.id, type: :hidden %>
          <%= f.text_field :confirmed, value: true, type: :hidden %>
          <%= f.submit 'Confirm', class:"button is-info"%>
        <% end%>
      </div>
    <% end %>
  <% end %>
</div>