<section class="users-section">
<h2>Logged in user: <span><%= current_user.name %></span></h2>
<h2>Other Users</h2>
  <ul class="users-list">
    <%= render @user_list %>
  </ul>
</section>

<section class="users-section">
  <h2>Pending Friends</h2>
  <ul class="users-list"> 
    <%= render 'pending' %>
  </ul>
</section>

<section class="users-section">
  <h2>Friend Requests</h2>
  <ul class="users-list"> 
    <%= render 'decision-btn' %>
  </ul>
</section>

<section class="users-section">
<h2>My Friends</h2>
<ul class="users-list"> 
  <%= render 'friends' %>
</ul>
</section>
