<section class="users-section">
  <ul class="users-list">
    <% @users.each do |user| %>
      <li>
        Name: <%= user.name %>
        <span class="profile-link">
          <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
        </span>
        <%= add_btn(user) %>
        <%= accept_btn(user) %>
        <%= reject_btn(user) %>
      </li>
    <% end %>
  </ul>
</section>
