<% provide(:title, 'All users') %>
<%= render 'shared/friend_requests_link' %>
<h1>All users</h1>
<section class="users-section">
  <%#= will_paginate %>
  <ul class="users-list">
    <% @users.each do |user| %>
      <li class="friend-response">
        <div>
          <%= gravatar_for user, size: 50 %>
          <%= link_to user.name, user %>
        </div>
        <% unless current_user == user %>
          <% if current_user.friends.exclude?(user) && current_user.pending_friends.exclude?(user) && current_user.friend_requests.exclude?(user) %> 
            <%= form_with(model: Friendship.new(friend_id: user.id), local: true) do |f| %>
              <div><%= hidden_field_tag :friend_id, user.id %></div>
              <%= f.submit "Add Friend", class: "btn btn-primary btn-sm friends-button add-friend" %>
            <% end %>
          <% end %>       
        <% end %>
      </li>
    <% end %>
  </ul>
  <%= will_paginate %>
</section>
