<section class="users-section">
  <ul class="users-list">
    <% @users.each do |user| %>
      <li>
        Name: <%= user.name %>
        <span class="profile-link">
          <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
        </span>
        <% unless current_user.cannot_add?(user) %>
          <%= form_for(:friendships, url: friendships_path, method: :post) do |f| %>        
            <%= f.hidden_field :friend, value: user.id %>
            <%= f.submit 'Send Request' %>
          <% end %>
        <% end%>
      </li>
    <% end %>    
  </ul>
</section>
