<section class="users-section">
  <ul class="users-list">
    <%= render @users %>
  </ul>
</section>


<%=pending_friends_header%>
<%=pending_requests %>
<%=friend_requests_header%>

<div class="friend_requests_table">
    <div class="friend_requests"><%=friend_requests%></div>
    <div class="approve_requests"><%=approve_requests%></div>
    <div><%=delete_requests%></div>
</div>
