<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <% unless @user == current_user %>
    <span class="profile-link">
      <% if sent_requests(@user.id) %>
        pending
      <% else %>
        <%= link_to 'invite to friendship', user_invite_path(@user), class: 'profile-link', method: :post%>
      <% end %>
    </span>
  <% end %>

  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
<% if @user == current_user %>
  <h2>Invitations</h2>
  <div>
    <% pending_invitations.each do |sender| %>
      <%= sender.name %>
      <%= link_to 'Accept Invitation', user_accept_path(sender), method: :post %>
      <%= link_to 'Reject Invitation', user_reject_path(sender), method: :post %>
    <% end %>
  </div>
<% end %>
