<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
<div>
  <% if already_friends?(@user.id) && @user.id != current_user.id %>
    <% if new_request?(@user.id) %>
      <button class="friend_button">
        <%= link_to "Send request to #{@user.name}", controller: "friendships", action: "new", user_id: current_user.id, friend_id: @user.id, confirmed: false %>
      </button>
    <% elsif !pending_request?(@user.id) %>
      <button class="friend_button">
        <%= link_to "Accept request from #{User.find(@user.id).name}", controller: "friendships", action: "edit", user_id: User.find(@user.id).id, friend_id: current_user.id, confirmed: true %>
      <button>
      <button class="friend_button">
        <%= link_to "Reject Friendship", friendship_path(request_id(@user)), method: :delete %>
      </button>
    <% else %>
      <span>You already have sent an invitation to <%= @user.name %></span>
    <% end %>
  <% elsif @user.id != current_user.id %>
    <span><%= @user.name %> and you are friends</span>
  <% end %>
  <% if !pending_requests? && @user.id == current_user.id %>
    <h2>Friend Requests:</h2>
    <% @requests.each do |r| %>
      <button class="friend_button">
        <%= link_to "Accept friend request from #{r.name}", controller: "friendships", action: "edit", user_id: r.id, friend_id: current_user.id, confirmed: true %>
      </button>
      <button class="friend_button">
        <%= link_to "Reject Friendship", friendship_path(request.id), method: :delete %>
      </button>
      <br />
    <% end %>
  <% end %>
</div>