<div class="col-sm-7">
  <h3><%= "#{@user.name}" %></h3>
	  
	 <p><strong>Friends:</strong></p>

	  <ul class='list-unstyled row g-3'>
	    <% (@user.friends + @user.users).each do |friend| %>
	      <li class="col-sm-7 mt-1">
	        <%= friend.name %>
	        <% if @user == current_user %>
	          <%= link_to 'Un-friend', friendships_destroy_path(friendship_id: Friendship.find_request(@user.id, friend.id)), class: 'btn btn-danger btn-sm' %>
                <% end %>
              </li><br>
	    <% end %>
	  </ul>

	  
	  <p><strong>Friend Requests:</strong></p>

	  <ul>
	      <% @user.pending_friendships.each do |friendship| %>
	        <li>
	          <%= User.find(friendship.user_id).name %>
	          <%= link_to 'Accept', friendships_update_path(friendship_id: friendship.id),  class: 'btn btn-success btn-sm'  %>
	          <%= link_to 'Reject', friendships_destroy_path(friendship_id: friendship.id),  class: 'btn btn-danger btn-sm' %>
	        </li>
	      <% end %>
	  </li>
	  <br>
	<div class="card col-sm-9">
	    <h3>Recent posts:</h3>
		    <ul class="posts">
		      <%= render @posts %>
		    </ul>
    </div>

</div>

