  
<section class="user-section">
  <h2><%= "Name: #{@user.name}" %> <span><%= friend_requests_button(@user) %></span></h2>
  <% if owner?(@user)%>
   <div>
        <span>Pending friend request(s): <%=@user.friend_requests.count %></span>
        <%@user.friend_requests.each do |friendship|%>

        <div class="friend-lineup">
            <%=friendship.user.name%>:
            <button type="button" class="bttn-accept"><%= accept_friendship(friendship)%></button> 
            <button type="button" class="bttn-reject"><%= reject_friendship(friendship)%></button>
        </div>
        <% end %>
    </div>
  <% end %>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
