<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <small> 
    <%= friend_requests(@user) %>
  </small>
  <%= confirm_friends(@user) %>
    <%= pending_friends(@user)%>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
