<section class="user-section">
  <h2><%= "Name: #{@user.name}" %> <small><em><%= invite_or_pending_btn(@user) %></em></small></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
  <article class="timeline">
    <h3>Sent Invitations:</h3>
    <ul class="posts">
      <% @user.pending_friends.each do |invitation|%>
          <li><%= invitation.name %></li>
      <% end %>
    </ul>
  </article>
  <article class="timeline">
    <h3>Incoming Invitations:</h3>
    <ul class="posts">
      <% @user.friend_requests.each do |invitation|%>
          <li><%= invitation.name %> <%= invite_or_pending_btn(invitation) %></li>
      <% end %>
    </ul>
  </article>
  <article class="timeline">
    <h3>Mutual Friends:</h3>
    <ul class="posts">
      <% @mutual_friends.each do |mutual|%>
          <li><%= mutual.name %></li>
      <% end %>
    </ul>
  </article>
</section>