<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <% if @user != current_user %>
    <%= display_add_friend(current_user, @user)%>
  <% end %>
  

  <br />
  <p>Total number of friends: <%= @user.friendships.length %></p>

  <p>List of approved friends</p>
  <% @user.friends.each_with_index do |friend, index| friend %>
    <p><%= index+1 %> - <%= friend.name %> </p>
    <% if @user == current_user %>
      <%= display_add_friend(current_user, @user)%>
    <% end %>
  <% end %>

  <h3>List of pending friends</h3>
  <% @user.pending_friends.each do |p_friend| %>
    <%= p_friend.name %>
    <% if @user == current_user %>
      <%=link_to 'Approve',  approve_friendship_path(user_id: @user.id, friend_id: p_friend.id)%>
      
      <%= link_to 'Decline', decline_friendship_path(user_id: @user.id, friend_id: p_friend.id)%>
      
    <% end %>
  <% end %>
  <h3>List of friends requests sent</h3>
  <% @user.friend_requests.each_with_index do |friend, index| friend %>
    <p><%= index+1 %> - <%= friend.name %> Friend Request sent</p>
    
  <% end %>


  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
