<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>

<% unless add_friend_button(current_user.id, @user.id) %>
  <%= form_with model: @friendship do |form| %>
    <%= form.hidden_field :invitee_id, value: @user.id %>
    <%= form.hidden_field :inviter_id, value: current_user.id %>
    <%= form.hidden_field :status %>
    <%= form.submit 'Add Friend', data: { disable_with: "Sent" }%>
  <% end %>
<% end %>
