<section class="user-section">
<div class="w-100 justify-content-space-between">
  <h2><%= "Name: #{@user.name}" %></h2>
  <div>
  <% if current_user.id != @user.id %>
     <%= link_to 'Invite to friendship', friendships_path(friend_id: @user),method: :post, class: 'btn btn-info' %>
  <% end %>
   
  </div>
</div>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>

<% if current_user.id == @user.id%>
  <div class="col">
    <div class="row justify-content-space-between">
      <div class="col">
        <h2>Pending Friendships</h2>
        <div>
          <ul>
            <% @pending_friendships.each do |friendship| %>
              <li><%= friendship.user.name %></li>
            <% end %>
          </ul>
        </div>
        <div class="col">
        <h2>Sent Friendships</h2>
        <div>
          <ul>
            <% @sent_friendships.each do |friendship| %>
              <li><%= friendship.friend.name %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
