<section class="user-section">
  <h2><%= "Name: #{@user.name}" %><%= render "user_actionable", user: @user %></h2>
  <% if current_user == @user %>
    <article style="margin-top: 20px;">
      <h3>Pending invitations:</h3>
      <% @user.pending_friend_lists.each do |user| %>
        <div style="display: flex; margin-top: 12px;">
          <p><%= user.name %></p>
          <%= render "user_actionable", user: user %>
        </div>
      <% end %>
    </article>
  <% else %>
    <article style="margin-top: 20px;">
      <h3>Mutual friends:</h3>
      <% current_user.mutual_friends_with(@user).each do |user| %>
        <%= user.name %>
      <% end %>
    </article>
  <% end %>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
