<section class="user-section">
  <div>
    <h2><%= "Name: #{@user.name}" %></h2>
    <% if !@user.friends.include?(current_user) && @user != current_user  && !@user.pending? %>
      <%= button_to 'send invitation', create_friendship_user_path, :method => :get %>
    <% end %>
    <%= "<b>Pending request</b>".html_safe if @user.inverse_friendships.find{|f| f.user_id == current_user.id} %>
    <%= "<b>Already friend</b>".html_safe if @user.friends.include?(current_user) %>
  </div>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
  
  <% if @user == current_user %>
    <%= render 'friends_table' %>
  <% end %>
</section>
