<section id="left">
<div class="dp-image">

</div>
<p> <%= current_user.name%> </p>
<p> <%= current_user.email%> </p>
<p> <%= current_user.created_at%> </p>
</section>

<section id="middle" class="user-section">
  <article class="timeline">
    <h3><%= "Recent posts by  #{@user.name}"%></h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>

<section id="right"> 

<article>
<h2> All Users</h2>
<span> <%= pluralize(@recieved.length, 'friend request') %> recieved, </span>
<span><%= pluralize(@sent.length, 'friend request') %> sent</span>
<ul>
<li> 
<%= render @all_users %>
 </li>
</ul>
</article>
 
</section>
