<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  
  <div class="friendship-relations">
    <% if @accepted_friends.include? @user %>
      <%= link_to "End friendship", friendship_destroy_path(current_user.id, @user.id, @user.id), method: :delete %>
    <% elsif @pending_inviters.include? @user %>
    <p> This user has requested your friendship</p>
      <%= link_to "Accept", friendship_update_path(@user.id, current_user.id), method: :post %>
      <%= link_to "Reject", friendship_destroy_path(@user.id, current_user.id, @user.id), method: :delete %>
    <% elsif @pending_invitees.include? @user %>
      <%= link_to "Remove friendship request", friendship_destroy_path(current_user.id, @user.id, @user.id), method: :delete %>
    <% elsif current_user != @user %>
      <%= link_to "Invite to friendship", friendship_create_path(current_user.id, @user.id, 'profile'), method: :post %>
    <% end %>
  </div>

  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
