<section class="user-section">

  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
     
  </article>
  <%if current_user == @user%>
  <h1>friend requests</h1>
 
 <% current_user.pending_friends.each do |user|%>
    <%=user.name%>
    <button class='btn btn-secondary btn-sm gap-2 mb-2'>
      <%= current_user.friendships.find_by_friend_id(user).confirmed %>
    </button>
    <%if current_user.pending_friends.include?(user)%>
      <button class='btn btn-outline-success btn-sm gap-1 mb-2'>          
        <%= link_to 'Accept', friendship_path(:id => user.id), :method => :patch%>
      </button>
      <button class='btn btn-outline-warning btn-sm gap-1 mb-2'>
       <%= link_to 'Delete', friendship_path(:id => user.id), :method => :delete%>
      </button>
      
    <%end%>
    <%= render user%>
  <%end%>
<%end%>  
 


 