<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
    <% if @logged_in_user %>
      <h3>Pending Friend Requests:</h3>
      <ul class="posts">
        <%= render 'friendship_requests/pending_friend_requests' %>
      </ul>
    <% end %>
    <%= add_btn(@user) %>
    <%= accept_btn(@user) %>
    <%= reject_btn(@user) %>
  </section>
