<div class="col-sm-7">
  <h3><%= "#{@user.name}" %></h3>
	 <p><strong>Friends:</strong></p>
  <ul class='list-unstyled row g-3'>
    <% friends.each do |friend| %>
      <li class="col-sm-7 mt-1">
        <%= friend.name %> <%= unfriend(friend) %>
      </li><br>
    <% end %>
  </ul>
	  <p><strong>Friend Requests:</strong></p>
		 <ul>
	      <% current_user.pending_friendships.each do |friendship| %>
	        <li>
	          <%= User.find(friendship.user_id).name %>
	          <%= link_to 'Accept', friendships_update_path(friendship_id: friendship.id),  class: 'btn btn-success btn-sm'  %>
	          <%= link_to 'Reject', friendships_destroy_path(friendship_id: friendship.id),  class: 'btn btn-danger btn-sm' %>
	        </li>
	      <% end %>
	     </ul><br>
	<div class="card col-sm-9">
	  <h3>Recent posts:</h3>
    <ul class="posts"> <%= render_user_posts %> </ul>
  </div>
</div>
