<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <%= which_user(@user) %>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>

  <article class="timeline">
    <h3>All Frinds</h3>
    <ul class="posts">
      <% for friend in friends %>
        <li>
          <%= friend.name %>
          <%= see_profile(@user, friend) %>
        </li>
      <% end%>
    </ul>
  </article>

  <%= my_profile(@user) %>

</section>
