<section id="left">
<div class="dp-image">

</div>
<p> <%= current_user.name%> </p>
<p> <%= current_user.email%> </p>
<p> <%= current_user.created_at%> </p>
</section>

<section id="middle" class="user-section">
  <article class="timeline">
    <h3><%= "Recent posts by  #{@user.name}"%></h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>

<section id="right"> 

<article>
<h2> Friends</h2>
<ul>
<li> 
<%= render @friends %>
 </li>
</ul>
</article>
 

<article>
<h2> <%= pluralize(@recieved.length, 'friend request') %> recieved</h2>
<table>
<%= render 'recieved'%>

</table>
</article>
 
<article>
<h2> <%= pluralize(@sent.length, 'friend request') %> sent</h2>
<ul>
<%= render @sent %>

</ul>
</article>

</section>
