<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>

<%= add_button(User.find(params[:id])) %>

<h3> <%= friend_request_title %> </h3>
<%= friend_request_list(current_user) %>

<%= accept_button(User.find(params[:id])) %>

<h3>Friends:</h3>
<% @user.friends.each do |f| %>
  <ul>
    <li><%= link_to f.name.capitalize, f %> </li>
  </ul>
<% end %>
