<div class="container">
  <div class="row">
    <div class="col">



		<section class="user-section">
			<h2><%= "Name: #{@user.name}" %></h2>

			<%= friend_button(current_user, @user) %>

			<article class="timeline">
			    <h3><%= "#{@user.name.capitalize}'s Friends:" %></h3>
			  <ul>
			    <% @friends.each do |friend| %>
			        <li>
			          <%= friend.name %>
			        </li>
			    <% end %>
			  </ul>
			</article>
		</section>
	</div>

    <div class="col">
		<div class="panel panel-default">
		<%= friendship_table(@my_friends, @requested_friends, current_user, @user) %>
		</div>
	</div>

  </div>
</div>
<main class="main">
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</main>

