<section class="user-section">
  <h2 class="mb-5"><%= @user.name %></h2>
  <h2 class="mb-3"><%= "Friends with:" %></h2>

  <h3 class="badge bg-primary rounded-pill text-light"> Total Friends (<%= @user.friends.count %>)</h3>
  <ul class="list-group">
    <% @user.friends.each do |friend| %>
    <li class="list-group-item"> <%= friend.name %> 
      <% if current_user == @user%>
          <%= link_to "Remove user", remove_friends_path(user_id: friend.id) %>
      <% end %>
        </li>
    <% end %> 
  </ul>

  <h3 class="badge bg-primary rounded-pill text-light"> Pending Friends (<%= @user.pending_friends.count %>)</h3>
  <ul class="list-group">
    <% @user.pending_friends.each do |pending| %>
    <li class="list-group-item"> <%= pending.name %> <br/>
    
      <% if current_user == @user%>
        <%= link_to "Cancel request", remove_friends_path(user_id: pending.id), data: { confirm: "You sure?" } %>
      <% end %> 

    </li>
    <% end %> 
  </ul>

  <h3 class="badge bg-primary rounded-pill text-light"> Friend Requests (<%= @user.friend_requests.count %>)</h3>
  <ul class="list-group">
    <% @user.friend_requests.each do |request_user| %>
    <li class="list-group-item"> <%= request_user.name %> <br/>

    <% if current_user == @user%>
        <%= link_to "Cancel request", remove_friends_path(user_id: request_user.id), data: { confirm: "You sure?" } %>
        <p>  </p>
        <%= link_to "Accept", update_friends_path(user_id: request_user.id) %>
      <% end %>  

    </li>
    <% end %> 
  </ul>

  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>