<section class="user-section">
  <%= flash[:message] %>

  <h1>Send A Friend Request</h1>

  <%= form_for :friendship, url: friendships_path do |f|%>
    <%= f.select :confirmer_id, 
      User.all.collect { |u| [ u.name, u.id ] if u.id != current_user.id }.select(&:present?), 
      {:prompt => 'Select Person'}, class: "select_friend"
    %>

    <%= f.submit "Send Friend Request" %>
  <% end %>


<h1>Friend Requests From Others</h1>
<ul>
<% @f.each do |x| %>
  <li>
    <p><%= x.requester.name %></p>
    <%= form_for(:friendships, url: friendship_path(@i), method: :patch ) do |f| %>
      <%= f.hidden_field :status %>
      <%if x.status != false %>
      <div class = "btn-div">
        <%= f.submit 'Accept' %>

        <%= f.submit 'Reject', class: 'btn-right'%>
      </div>
      <% end %>
    <% end %>

  </li>
<% end %>
</ul>


  <h2><%= "User Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
