<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <h3><%= nu_display(current_user, @user)%></h3>
  

  <br />
  
    <h3>List of approved friends</h3>
  <div class="friend-list-cont">
      <% @user.friends.each do |friend, index| friend %>
        <div class="friend-list">
          <div>
            <%= user_image %>
          </div>
          <h3><%= link_to friend.name, user_path(friend.id) %></h3>
          <p> 
            <%= user_display?(@user, friend)%>
          </p>
        </div>
      <% end %>
  </div>
  <p>Total number of friends: <%= @user.friendships.length %></p>

  <h3>List of pending friends</h3>
  <div class="friend-list-cont">
    <div class="friend-list">
      <% @user.friend_requests.each do |p_friend| %>
        <div>
          <%= user_image %>
        </div>
        <h3><%= p_friend.name %></h3>
        <p>
          <%= show_approve(@user, p_friend)%>
          <%= show_decline(@user, p_friend)%>
        </p>
      <% end %>
    </div>
  </div>
  <h3>List of friends requests sent</h3>
  <div class="friend-list-cont">
    <div class="friend-list">
      <% @user.pending_friends.each do |friend| %>
        <div>
          <%= user_image %>
        </div>
        <p><%= friend.name %> </p>
        <p>Friend Request sent</p>
        
      <% end %>  
    </div>
  </div>


  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
