<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
  <h2> <%= link_to 'Send Friend Request',  create_friendship_user_path(@user) %> </h2>
</section>

<div class = "content">
  <h2> <%= current_user.name + ' ' + 'Friends' %>
  <section class = "friends-section"
  <ul class = "friends-list">
  <% @friends.each do |friend| %>
    <li> <%= friend.name %> <li>
  <% end %>
  </ul>
  </section>
</div>

<h2> <%= current_user.name + ' ' + 'Pending Friends' %>
<section class = "friends-section"
<ul class = "friends-list">
<% @pending_friends.each do |friend| %>
  <li> <%= friend.name %> </li>
<% end %>
</ul>
</section>

<h2> <%= current_user.name + ' ' + 'Friend Requests' %>
<section class = "friends-section"
<ul class = "friends-list">
<% @friend_requests.each do |friend| %>
  <li> <%= friend.name %> </li>
<% end %>
</ul>
</section>