<section class="user-section">
  <div>
    <h2><%= "Name: #{@user.name}" %></h2>
    <%= display_invitation(user: @user) %>
    <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
    </article>

    <section>
      <% if @user == current_user %>
      <h3>Pending Requests</h3>
      <ul>
        <%@pending_requests.each do |request| %>
          <li> 
            <%= request.friend.name %> 
            <%= link_to 'Accept Friend Request', friendship_path(request.id), method: :patch %>
          </li>
          <%end%>
      </ul>
    <%end%>
        
</section>
