<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">All Friends</div>
  <div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action bg-light" href="<%= friendships_url(friendship_type: 'friend') %>">
      <strong id="friends" class="stat"><%= pluralize(current_user.friends.count, 'Friend') %></strong>
    </a>
    <a class="list-group-item list-group-item-action bg-light" href="<%= friendships_url(friendship_type: 'friend_request') %>">
      <strong id="friends" class="stat"><%= pluralize(current_user.friend_requests.count, 'Friend Request') %></strong>      
    </a>
    <a class="list-group-item list-group-item-action bg-light" href="<%= friendships_url(friendship_type: 'pending_friend') %>">
      <%= pluralize(current_user.friends.count, 'Sent Request') %>
    </a>
  </div>
</div>
