			<h2 align="center" class="panel panel-primary">My Friends</h2>
			<table class="table table-striped">
				<thread>
					<tr>
						<th>Name</th>
						<th> Request </th>
					</tr>
				</thread>
				<tbody>
					<% @my_friends.each do |friend| %>
					<tr>	
						<td><%= friend.name %></td>
						<td>
							<%= link_to "View Profile", user_path(friend), class:"btn btn-primary btn-xs" %>
							<%= link_to 'Remove Friend', delete_friend_path(friend), method: :delete, :confirm => "Are you sure?", :class => "btn btn-xs btn-danger" %>
						</td>
					</tr>
					<% end %>
					<% @requested_friends.each do |requested_friend| %>
					<tr>

						<td><%= requested_friend.name %></td>
						<td>
							<%= link_to "View Profile", user_path(requested_friend), class:"btn btn-primary btn-xs" %>
							<%= link_to "Accept", accept_request_path(requested_friend), method: :put, class:"btn btn-default btn-xs" %>
							<%= link_to "Decline", decline_request_path(requested_friend), method: :delete, class: "btn btn-xs btn-danger" %>
						</td>
					</tr>
					<% end %>

				</tbody>
			</table>
