<div class = "friend-section">
    <h2>You have<%= pluralize(current_user.friend.counts, 'friend requests') %></h2>
    <% current_user.friend_requests.each do |u| %>
        <div>
            <div>
              <%= link_to user_path(user) do %>
                <h3><%= u.name %></h3>
              <% end %>
            </div>
            <div class = "profile-link">
            <%= link_to 'See Profile', 
            user_path(user), 
            class: 'profile-link' %>
            
            <%= link_to 'accept request', 
            friendship_path(search_friendship(user.id, current_user.id))
              method: :put %>

            <%= link_to 'Delete',
            friendship_path(user.id),
            method: :delete %>
            </div>
        </div>
    <% end %>
</div>