<% @friend_requests.each do |friendship| %>
  <% if friendship.confirmed.nil? %>
    <span class="profile-link">
      <span><%=friendship.user.name%> | </span>
      <%= link_to 'see profile',  user_path(friendship.user), class: 'profile-link' %>
    </span>
    <%= form_for(:requests, url: friendship_path(friendship), method: 'put') do |f| %>
      <%= f.hidden_field :status, value: true %>
      <%= f.submit 'Accept' %>
    <% end %>
    <%= form_for(:requests, url: friendship_path(friendship), method: 'put') do |f| %>
      <%= f.hidden_field :status, value: false %>
      <%= f.submit 'Decline' %>
    <% end %>
  <% end %>
<% end %>