<section class="users-section">
  <div class="users-list">  
    <% return if !@sent_requests %>
    <h2><%= "#{@sent_requests.count} Pending Sent Requests" %></h2>
    <hr>
    <br>
    <% @sent_requests.each do | sent_request | %>
    <div>
      <strong><%= link_to sent_request.friend.name, user_path(sent_request.friend)  %></strong>
      <span><%= button_to 'Invite Sent', type: 'button', disbaled: true, class: 'btn btn-secondary' %></span>
      <%= button_to 'Cancel Invite', { action: 'destroy', id: sent_request.id },
                                        method: :delete, type: 'button', class: 'btn btn-secondary' %>
      <br>
    </div>
    <% end %>
    <br>
    <% return if !@incoming_requests %>
    <h2><%= "#{@incoming_requests.count} Pending Incoming Requests" %></h2>
    <hr>
    <% @incoming_requests.each do | incoming_request | %>
      <br>
      <div>
        <strong><%= link_to incoming_request.user.name, user_path(incoming_request.user) %></strong>
        <%= button_to 'Accept Friend', { action: 'update', controller: 'friendships', id: incoming_request.id },
                                        method: :put, type: 'button', class: 'btn btn-secondary' %>
        <%= button_to 'Reject Friend', { action: 'destroy', id: incoming_request.id },
                                        method: :delete, type: 'button', class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</section>