<div class = "friend-section">
    <h2>You have<%= pluralize(current_user.friend.counts, 'friend') %></h2>
    <% current_user.friends.each do |u| %>
        <div>
            <div>
              <%= link_to user_path(user) do %>
                <h3><%= u.name %></h3>
              <% end %>
            <div class="profile-link">
            <%= link_to 'See Profile', user_path(user), class: 'profile-link' %>
            <%= render_friendship user%>
            </div>
            </div>
        </div>
    <% end %>
</div>
