<section class="users-section">
  <ul class="users-list">  
    <% return if !@sent_requests %>
    <h2><%= "#{@sent_requests.count} Pending Sent Requests" %></h2>
    <hr>
    <br>
    <% @sent_requests.each do | sent_request | %>
    <li>
      <strong><%= link_to sent_request.name, user_path(sent_request)  %></strong>
      <span><%= button_tag 'Invite Sent', type: 'button', disbaled: true, class: 'btn btn-secondary' %></span>
      <span><%= button_tag 'Reject Friend', type: 'button', class: 'btn btn-secondary' %></span>
      <br>
    </li>
    <% end %>
    <br>
    <% return if !@incoming_requests %>
    <h2><%= "#{@incoming_requests.count} Pending Incoming Requests" %></h2>
    <hr>
    <% @incoming_requests.each do | incoming_request | %>
    <br>
    <li>
      <strong><%= link_to incoming_request.name, user_path(incoming_request) %></strong>
      <span><%= button_tag 'Invite Sent', type: 'button', disbaled: true, class: 'btn btn-secondary' %></span>
      <span><%= button_tag 'Reject Friend', type: 'button', class: 'btn btn-secondary' %></span>
    </li>
    <% end %>
    </ul>
</section>