<h1><%= "#{@user.name} has #{pluralize(@user.friends.count, 'friends')}" %></h1>
<ul class="users-list">
  <%= render  @user.friends %>
</ul>
<h1><%= "#{@user.name} has #{pluralize(@user.pending_friends.count, 'pending friend')}" %></h1>
<ul class="users-list">
  <%= render  @user.pending_friends %>
</ul>
<h1><%= "#{@user.name} has #{pluralize(@user.friend_requests.count, 'friend request')}" %></h1>
<ul class="users-list">
  <%= render  @user.friend_requests %>
</ul>
