
<h1> Pending invitations </h1>
  <ul>
    <% @f.each do |x| %>
      <li>
        <% if x.confirmed == false %>
          <p><%= x.requester.name %></p>
          <div class='btn-div'>
          <%= form_for(:friendships, url: friendship_path(@i), method: :patch ) do |f| %>
            <%#= f.hidden_field :confirmed %>
            <div>
              <%= f.submit 'Accept' %> 
            </div>
          <% end %>
          <%= form_for(:friendships, url: friendship_path(@i), method: :delete ) do |f| %>
            <%= f.hidden_field :confirmed %>

            <div>
              <%= f.submit 'Reject', class: 'btn-right'%>
            </div>
          <% end %>

          </div>
        <% end %>
      </li>
    <% end %>
  </ul>

