<% provide(:title, @friends_hash[:title]) %>
<%= render 'shared/friend_requests_link' %>
<h1 class="friends-heading"><%= @friends_hash[:title] %></h1>
<section class="users-section">
  <% if @friends_hash[:friends] %>
    <ul class="users-list">
      <% if @friends_hash[:friends_type] == 'friend' %>
        <%= render 'friend' %>
      <% elsif @friends_hash[:friends_type] == 'friend_request' %>
        <%= render 'friend_request' %>
      <% elsif @friends_hash[:friends_type] == 'pending_friend' %>
        <%= render 'pending_friend' %>
      <% end %>
    </ul>
    <%= will_paginate @friends_hash[:friends] %>
  <% end %>
</section>
