<div>
  <div class='post-attribution' >
    <% if user_signed_in? %>
      <strong>@<%= link_to post.user.name, user_path(post.user), class: 'has-text-black' %></strong>
    <% end %>
  </div>
  <div class='post-liking'>
    <span class='post-date'> <%= post.created_at.strftime("%Y/%m/%d") %> </span>
  </div>
</div>
<p class="post-content">
  <%= post.content %>
</p>
<div class='post-comments-section'>
  <h2 class="title">
    Comments
  </h2>
  <%= render partial: 'comments/comment', collection: post.comments %>
  <%= form_for(post.comments.new, url: post_comments_path(post)) do |form| %>
    <div class="field">
      <div class="control">
        <%= form.text_field :content, id: :comment_content, class: 'textarea', placeholder: 'Add new Comment' %>
      </div>
    </div>
    <%= form.submit 'Add a new comment', class: 'button is-info' %>
  <% end %>
  <%= like_or_dislike_btn(post) %>
</div>
