<li class="post">
  <%= link_to post.user.name, user_path(post.user), class: 'post-author' %>
  <span class='post-date'> <%= post.created_at.strftime("%Y/%m/%d") %> </span>
  <p class="post-content">
    <%= post.content %>
  </p>
  <%= form_for(post.likes.new) do |form| %>
    <%= form.hidden_field :post_id, value: post.id %>    
    <%= form.submit 'Like!', class: 'btn btn-secondary' %>
  <% end %>
  <h1>
    <%= post.user == current_user %>    
  </h1>
  <% post.comments.each do |comment| %>
    <div class="post-comments">
      <p>
        <%= comment.user.name %>: <%= comment.content %>
      </p>
      <span> <%= comment.created_at.strftime("%Y/%m/%d") %> </span>
    </div>

  <% end %>

  <%= form_for(post.comments.new) do |form| %>
    <%= form.label :Comment %>    
    <%= form.text_field :content, id: :comment_content, class: 'post-comments-input', placeholder: 'Add new Comment' %>
    <%= form.hidden_field :post_id, value: post.id %>    
    <%= form.submit 'Comment', class: 'btn btn-secondary' %>
  <% end %>
  
</li>
