<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <% if user_signed_in? %>
          <article class="media box">
            <figure class="media-left">
              <p class="image is-64x64">
                <%= gravatar_image_tag(current_user.email, size: 64, alt: current_user.name) %>
              </p>
            </figure>
            <div class="media-content">
              <%= render 'posts/form' %>
            </div>
          </article>
        <% end %>
        <% @posts.each do | post | %>
          <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <%= gravatar_image_tag(post.user.email, size: 64, alt: post.user.name) %>
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <% if user_signed_in? %>
                    <strong>@<%= post.user.name %></strong><br />
                  <% end %>
                  <p><%= post.content %></p>
                </div>
              </div>
            </article>
          </div>
        <% end %>
      </div>
      <article class="timeline">
        <h3>
          Recent posts
        </h3>
        <ul class="posts">
          <%= render @timeline_posts %>
        </ul>
      </article>
    </div>
  </div>
</section>
