<div class="mt-5">
  <%= render "layouts/flash_message" %>
</div>
<div class="card">
  <div class="card-body">
    <%= gravatar_for @post.user, 40 %> <small><b>By</b> <%= post_owner @post %></small>
    <p class="card-title"><%= @post.description %></p>
    <p class="card-text"><%= image_tag @post.image, width:"500px", class:"img-fluid" if @post.image.attached?%></p>
    <div class="card-footer text-muted like-and-comments">
      <a class="like fa fa-thumbs-up"></a>  
      <i><%= @post.likes.count%></i>
      <small>Created: <%= time_ago_in_words(@post.created_at)%></small>
    </div>
    <% if owner @post %>
    <a class="btn btn-primary btn-sm" <%= link_to "Edit", edit_post_path(@post) %></a> 
    <%end%>
  </div> 
</div>

<h4 class="mt-4">Comments</h4>
<% if !@post.comments.blank? %>
<% @post.comments.each do |comment| %>
<div class="card mt-2">
  <div class="card-header">
    <div class="card-flex">
      <div><%= gravatar_for comment.user , 40 %></div>
      <div class="post-header">
        <p class="post-header-detail"><%= link_to comment_owner(comment.user), comment.user%></p>
        <p class="post-header-detail"><%= comment.user.email%></p>
        <p class="post-header-detail"><%= time_ago_in_words(comment.created_at) %> ago</p>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text"><%= comment.body%></p>
  </div>
</div>
<%end%>
<% else %>
  No Comments Yet
<%end%>