<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <%= link_to 'STAY IN TOUCH', root_path, class: "has-text-black" %>
    </div>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item">
        <%= menu_link_to 'Timeline', posts_path%>
      </div>
      <div class="navbar-item">
        <%= menu_link_to 'All users', users_path %>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <% if current_user %>
          <p class="has-text-dark mr-5">
            Signed in as: <%= link_to current_user.name, current_user %>
          </p>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "button is-primary" %>
        <% else  %>
          <%= link_to 'Sign in', user_session_path, class: "button is-primary" %>
          <div class="navbar-item">
            <%= link_to 'Sign Up', new_user_registration_path, class: "button is-secondary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
