<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <title>Account</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="account">
    <main class="container">
    <br/>  
    <%= render "partials/navbar"%>
    <%= render "partials/notice"%>
    <%= render "partials/alert"%>
      <div class="columns">
        <div class="column is-4">
        <%= render "partials/sidebar"%>
        </div>
        <div class="column">
          <%= yield %>
        </div>
    </div>
      
    </main>
  </body>
</html>
