<!DOCTYPE html>
<html>

<head>
    <title>RorSocialScaffold</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <nav class="nav">
        <%= link_to 'Stay in touch', root_path %>
        <div class="menu">
            <div class="menu-item">
                <%= menu_link_to 'Timeline', posts_path %>
            </div>
            <div class="menu-item">
                <%= menu_link_to 'All users', users_path %>
            </div>
            <div class="menu-item">
                <%= user_page_btn %>
            </div>
        </div>
        <%= sign_out_btn %>
        <%= sign_in_btn %>
    </nav>

    <%= notice_con1 %>
    <p> <%= notice_con %> </p>
    <%= closing_div%>
    <%= alert_con1 %>
    <p> <%= alert_con %> </p>
    <%= closing_div%>
    <main class="main">
        <%= yield %>
    </main>
</body>

</html>
