<!DOCTYPE html>
<html>
  <head>
    <title>Stay In Touch</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="nav">
      <%= link_to 'Stay in touch', root_path %>
      <div class="menu">
        <div class="menu-item">
          <%= menu_link_to 'Timeline', posts_path %>
        </div>
        <div class="menu-item">
          <%= menu_link_to 'Find Friends', users_path %>
        </div>
      </div>
      <% if current_user %>
        <%= link_to received_requests_path do %>
          <i class="fas fa-user-friends" id="notify"></i>
          <% if pending_requests.positive? %>
              <span class="pending">
                <%= pending_requests %>
              </span>
          <% end %>
        <% end %> 
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>  
      <% else %>
        <%= link_to 'Sign in', user_session_path %>
      <% end %>
    </nav>
    <% if notice.present? %>
      <div class="notice">
        <p> <%= notice %> </p>
      </div>
    <% end %>
    <% if alert.present? %>
      <div class="alert">
        <p> <%= alert %> </p>
      </div>
    <% end %>
    <main class="main">
      <%= yield %>
    </main>
  </body>
</html>