<!DOCTYPE html>
<html>
  <head>
    <title>RorSocialScaffold</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="nav">
      <%= link_to 'Stay in touch', root_path %>
      <div class="menu">
        <div class="menu-item">
          <%= menu_link_to 'Timeline', posts_path %>
        </div>
        
          <%= menu_link_to 'All users', users_path %>
          <%= render 'layouts/header' %>
        </div>
      </div>
      <div class='menu-item'>
      </div>
    </nav>
    <%= render 'layouts/allert' %>
    <main class="main">
      <%= yield %>
    </main>
  </body>
</html>
